#include <Windows.h>
#include "resource.h"

IDD_INPUT_DIALOG DIALOGEX 0, 0, 200, 100
STYLE WS_POPUP | WS_CAPTION |   WS_SYSMENU 
CAPTION "Enter Full Birth Number"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Enter masked birth number:", IDC_STATIC, 10, 10, 180, 10
    EDITTEXT        IDC_EDIT_INPUT, 10, 30, 180, 20, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 50, 70, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 110, 70, 50, 14
END
